html,body{
  height: 100%;
}
body{
  padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ff0000;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.bgC{
    width:50px;
    height: 50px;
}
.bgClip{
  background-image: url(../images/bg.jpg),
                    url(../images/bg.jpg),
                    url(../images/bg.jpg);
                        width: 50%;
    height: 50%;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: yellow;
    background-repeat: no-repeat;
    background-position: 50% 0, 50% 45%, 50% 90%;
    padding-top: 200px;
    background-size: 80%;
}
